[Unit]
Description=Temporizador semanal para sincronizar dotfiles (domingos 20:00)

[Timer]
OnCalendar=Sun *-*-* 20:00:00
Persistent=true

[Install]
WantedBy=timers.target
