[submodule ".zsh/.zsh/powerlevel10k"]
	path = .zsh/.zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "/home/Carlos/.dotfiles/.zsh/zsh-syntax-highlighting"]
	path = /home/Carlos/.dotfiles/.zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".zsh/powerlevel10k"]
	path = .zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
